<div style="display: flex; flex-direction: column; gap: 12px; padding: 32px">
  <header>
    <h2>My Vehicles</h2>
    <button mat-raised-button color="primary" (click)="openAddDialog()">
      Add new Vehicle
    </button>
  </header>
  @for (vehicle of vehicles; track vehicle) {
    <div class="vehicle">
      <div class="image">
        <img
          src="././assets/van-shuttle-solid.svg"
          width="50"
          height="50"
          alt=""
        />
      </div>
      <div class="text">
        <span
        ><b>{{ vehicle.companyName }}</b></span
        >
        <span>{{ vehicle.vehicleType }}</span>
        <span>{{ vehicle.vehicleDescription }}</span>
        <div style="display: flex; align-items: center; gap: 8px">
          <mat-icon>accessible</mat-icon>
          <span>{{
              vehicle.canTransportWheelchairs ? "Supported" : "Not supported"
            }}</span>
        </div>
      </div>
      <div class="coordinates">
        <mat-icon>airline_seat_recline_extra</mat-icon>
        <span
        ><b>Seats {{ vehicle.seatingPlaces }}</b></span
        ><br />
        <mat-icon>pin_drop</mat-icon>
        <span
        ><b>Start:</b> {{ vehicle?.startCoordinate?.streetName }} {{vehicle?.startCoordinate?.doorNumber}}, {{vehicle?.startCoordinate?.city}}</span
        >
        <span
        ><b>End:</b> {{ vehicle?.endCoordinate?.streetName}} {{vehicle?.endCoordinate?.doorNumber}}, {{vehicle?.endCoordinate?.city}}</span
        >
      </div>
      <div class="buttons">
        <button
          style="margin-left: auto"
          mat-raised-button
          color="warn"
          class="custom-button"
          (click)="deleteVehicle(vehicle)"
        >
          DELETE
        </button>
        <button
          mat-raised-button
          color="primary"
          class="custom-button"
          (click)="editVehicle(vehicle)"
        >
          EDIT
        </button>
        <button
          mat-raised-button
          color="primary"
          class="custom-button"
          (click)="openInvoice(vehicle)"
        >
          INVOICE
        </button>
      </div>
    </div>
  }
</div>
