<form [formGroup]="form" autocomplete="off" style="padding: 32px">
  <div
    style="
      display: flex;
      flex-direction: column;
      gap: 8px;
      justify-content: center;
    "
  >
    <h2>Add new Vehicle</h2>
    <mat-form-field appearance="outline">
      <mat-label>Company</mat-label>
      <input matInput placeholder="companyName" formControlName="companyName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <input matInput placeholder="vehicleType" formControlName="vehicleType" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput type="text" formControlName="vehicleDescription" />
    </mat-form-field>

    <mat-checkbox
      class="example-margin"
      formControlName="wheelchair"
      [checked]="form.get('wheelchair')?.value ?? false"
    >
      Can transport wheelchair
    </mat-checkbox>

    <mat-form-field appearance="outline">
      <mat-label>Seating Places</mat-label>
      <input matInput type="number" formControlName="seatingPlaces" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Start Coordinate Latitude</mat-label>
      <input matInput type="text" formControlName="startCoordinateLatitude" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Start Coordinate Longitude</mat-label>
      <input matInput type="text" formControlName="startCoordinateLongitude" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>End Coordinate Latitude</mat-label>
      <input matInput type="text" formControlName="endCoordinateLatitude" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>End Coordinate Longitude</mat-label>
      <input matInput type="text" formControlName="endCoordinateLongitude" />
    </mat-form-field>

    <div style="display: flex; margin-left: auto; gap: 12px">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        (click)="onConfirmSave()"
        aria-label="Save"
      >
        SAVE
      </button>
      <button mat-raised-button aria-label="Cancel" (click)="cancel()">
        CANCEL
      </button>
    </div>
  </div>
</form>
