header{
  width: 99%;
  height: 50px;
  background-color: #4385a1;
  display: flex;
  gap: 12px;
  margin:8px;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
}

.user{
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}
